<script>
    import Domo from "../component/Domo.svelte";
    import Login from "../component/Login.svelte";
    import SignUp from "../component/SignUp.svelte";
    import { userStore } from "../stores/loginStore.ts";

    $: showSignIn = false;
    $: showSignUp = false;

    // show Login
    function runSignIn() {
        showSignIn = true;
        showSignUp = false;
    }

    // show show Signin
    function runSignUp() {
        showSignIn = false;
        showSignUp = true;
    }
</script>

<main>
    {#if $userStore}
        <div class="lg:h-screen lg:w-screen h-full bg-blue-50">
            <Domo />
        </div>
    {:else}
        <div class="h-screen w-screen bg-blue-50">
            <div class="h-auto p-4">
                <div class="flex place-content-between place-items-center">
                    <div class="flex place-item-center space-x-2">
                        <button
                            on:click={() => {
                                showSignIn = false;
                                showSignUp = false;
                            }}
                        >
                            <i class="fa-solid fa-house-user text-3xl"></i>
                            <span class="text-3xl uppercase font-bold"
                                >Domo</span
                            >
                        </button>
                    </div>
                    <div class="flex place-item-center space-x-4">
                        <button class="btn" on:click={runSignIn}>Accedi</button>
                        <button class="btn" on:click={runSignUp}>Registrati</button>
                    </div>
                </div>
            </div>
            <div class="grid h-full place-content-stretch pt-20 justify-items-stretch place-items-start p  ">
                {#if showSignIn === false && showSignUp === false}
                <div class="flex flex-col place-items-center space-y-8 place-content-center p-10">
                    <h1>BENVENUTO SU</h1>
                    <div class="flex place-item-center space-x-2">
                        <i class="fa-solid fa-house-user text-8xl"></i>
                        <span class="text-8xl uppercase font-bold">Domo</span>
                    </div>
                    
                </div>
                {:else if showSignIn === true && showSignUp === false}
                    <Login />
                {:else if showSignIn === false && showSignUp === true}
                    <SignUp />
                {/if}
            </div>
        </div>
    {/if}
</main>
