<script>
    import { onMount } from "svelte";
    import { dailyEvents } from "../stores/storeCalendar";
    import SchedulerModal from "./SchedulerModal.svelte";

    // if true show the modal with the daily schedule
    let showScheduler = false;

    let dateID = "";

    let monthNames = [];

    let weekdaysname = [];

    // current day
    const date = new Date();

    const today = {
        dayNumber: date.getDate(),
        month: date.getMonth(),
        year: date.getFullYear(),
    };

    onMount(async () => {
        // generate MonthNames
        for (let i = 0; i < 12; i++) {
            monthNames = [
                ...monthNames,
                new Date(2024, i, 1).toLocaleDateString("it-IT", {
                    month: "long",
                }),
            ];
        }

        // generate WeekNames
        for (let j = 0; j < 7; j++) {
            weekdaysname = [
                ...weekdaysname,
                new Date(2024, 0, j).toLocaleString("it-IT", {
                    weekday: "short",
                }),
            ];
        }

        return;
    });

    // current month number
    let monthIndex = date.getMonth();

    // current month name
    $: month = monthNames[monthIndex];

    // current year
    let year = date.getFullYear();

    // index of the first day of the month
    $: firstDayIndex = new Date(year, monthIndex, 1).getDay();

    // number of days of the month
    $: numberOfDays = new Date(year, monthIndex + 1, 0).getDate();

    // number of cells for a month
    $: calendarCellsQty =
        firstDayIndex + numberOfDays <= 28
            ? 28
            : firstDayIndex + numberOfDays <= 35
              ? 35
              : 42;

    // go to next month
    const goToNextMonth = () => {
        if (monthIndex >= 11) {
            year += 1;

            return (monthIndex = 0);
        }
        return (monthIndex += 1);
    };

    // go to previus month
    const goToPrevMonth = () => {
        if (monthIndex <= 0) {
            year -= 1;
            return (monthIndex = 11);
        }
        return (monthIndex -= 1);
    };

    // function for start SchedulerModal modal
    const handleScheduler = (e) => {
        showScheduler = true;
        dateID = e.target.dataset.dateid;
    };

    // Select the date with events
    $: eventPresent = (date) => {
        for (let days in $dailyEvents) {
            if ($dailyEvents[days].day == date) return true;
        }
        return false;
    };
</script>

<main class="flex flex-col justify-between place-content-between w-full h-full">
    <div class="flex place-content-between place-items-center space-x-10 pb-4">
        <h1>{month} <span>{year}</span></h1>
        <div class="flex space-x-3">
            <button class="btn btn-icon" on:click={goToPrevMonth}
                ><i class="fa-solid fa-angle-left"></i></button
            >
            <button class="btn btn-icon" on:click={goToNextMonth}
                ><i class="fa-solid fa-angle-right"></i></button
            >
        </div>
    </div>

    <div class="flex place-content-center py-8 w-full h-full">
        <div class="space-y-2 w-full h-full">
            <div>
                <ul class="grid grid-cols-7 justify-items-center">
                    {#each weekdaysname as weekday}
                        <li class="text-xl font-bold capitalize">{weekday}</li>
                    {/each}
                </ul>
            </div>
            <hr />
            <div>
                <ul class="grid grid-cols-7 justify-items-stretch days">
                    {#each Array(calendarCellsQty) as _, i}
                        <div>
                            {#if i < firstDayIndex || i >= numberOfDays + firstDayIndex}
                                <li>&nbsp;</li>
                            {:else}
                                <!-- svelte-ignore a11y-click-events-have-key-events -->
                                <!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
                                <li
                                    class="text-lg flex items-center justify-center p-2 rounded-full"
                                    class:has-events={eventPresent(
                                        `${
                                            i - firstDayIndex + 1
                                        } ${month} ${year}`,
                                    )}
                                    class:active={i ===
                                        today.dayNumber + (firstDayIndex - 1) &&
                                        monthIndex === today.month &&
                                        year === today.year}
                                    data-dateID={`${
                                        i - firstDayIndex + 1
                                    }_${month}_${year}`}
                                    on:click={handleScheduler}
                                >
                                    {i - firstDayIndex + 1}
                                </li>
                            {/if}
                        </div>
                    {/each}
                </ul>
                {#if showScheduler}
                    <!-- on close run eventPresent -->
                    <SchedulerModal
                        bind:showScheduler
                        {dateID}
                        on:modalClosed={eventPresent(dateID.replace(/_/g, " "))}
                    ></SchedulerModal>
                {/if}
            </div>
        </div>
    </div>
</main>

<style>
    .active {
        @apply font-bold bg-blue-700 text-white;
    }

    .days li.has-events {
        @apply bg-blue-200;
    }
</style>
