<script>
    import { onMount } from "svelte";

    let time = new Date();

    // reactive variables for current time
    $: hours = String(time.getHours()).padStart(2, 0);
    $: minutes = String(time.getMinutes()).padStart(2, 0);
    $: seconds = String(time.getSeconds()).padStart(2, 0);

    onMount(() => {
        const interval = setInterval(() => {
            time = new Date();
        }, 1000);

        return () => {
            clearInterval(interval);
        };
    });
</script>


<div class="flex items-center place-content-center space-y-4">
    <div class="text-9xl font-bold">
        {hours}:{minutes}:{seconds}
    </div>
</div>
