<script>
    import Calendar from "./Calendar.svelte";
    import Weather from "./Weather.svelte";
    import News from "./News.svelte";
    import WatchFull from "./WatchFull.svelte";
    import { userStore } from "../stores/loginStore";
</script>

<main class="h-full w-full">
    <div class="flex flex-col h-full">
        <div class="h-auto p-4">
            <div class="flex place-content-between place-items-center">
                <div class="flex place-item-center space-x-2">
                    <i class="fa-solid fa-house-user text-3xl"></i>
                    <span class="text-3xl uppercase font-bold">Domo</span>
                </div>
                <div class="flex place-item-center space-x-4">
                    <div class="text-right">
                        <div class="text-xl font-bold uppercase">
                            Benvenuto/a
                        </div>
                        <span>{$userStore.email}</span>
                    </div>
                    <button on:click={userStore.logout} class="btn btn-icon"
                        ><i class="fa-solid fa-right-from-bracket"></i></button
                    >
                </div>
            </div>
        </div>

        <div class="flex-grow p-8">
            <div
                class="grid lg:grid-cols-6 lg:grid-rows-5 auto-rows-auto lg:grid-flow-col gap-8 h-full w-full"
            >
                <div class="card card-wide">
                    <WatchFull />
                </div>
                <div class="card card-large">
                    <Calendar />
                </div>
                <div class="card card-large">
                    <Weather />
                </div>
                <div class="card card-wide">
                    <News />
                </div>
            </div>
        </div>
    </div>
</main>
