<script>
	import { location } from "../stores/weatherStore";
	import { createEventDispatcher } from "svelte";
	import { requestNotification } from "../lib/index.js";

	// dispatch event for updating the forecast
	const dispatch = createEventDispatcher();

	// for open/close modal
	export let showModal;
	let lati = undefined;
	let long = undefined;
	let nameLoc = "";
	let validLat = true;
	let validLong = true;
	let validName = true;
	let dialog;

	// check value of input text
	function checkInputString(str) {
		if (!(typeof str == "string") || str.trim() == "") {
			return false;
		}
		return true;
	}

	// check value of input number
	function checkInputNum(num, max, min) {
		if (!(typeof num == "number") || (num > max && num < min)) {
			return false;
		}
		return true;
	}

	$: if (dialog && showModal) dialog.showModal();
</script>

<main>
	<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
	<dialog
		class="rounded-3xl shadow-xl"
		bind:this={dialog}
		on:close={() => {
			showModal = false;
			lati = undefined;
			long = undefined;
			nameLoc = "";
		}}
		on:click|self={() => dialog.close()}
	>
		<!-- svelte-ignore a11y-no-static-element-interactions -->
		<div on:click|stopPropagation>
			<div class="content-wrapper p-8">
				<!-- header -->
				<div class="pb-6">
					<h1>Cambia luogo</h1>
				</div>
				<hr />
				<!-- content -->
				<div class="space-y-4 py-4">
					<div class="flex items-center space-x-4">
						<label for="nome" class="w-1/4"><h4>Luogo</h4></label>
						<input
							type="text"
							placeholder={$location.nameLocation}
							id="nome"
							bind:value={nameLoc}
							required
							class="text-box"
							on:blur={() => {
								validName = checkInputString(nameLoc);
							}}
							class:text-box-invalid={!validName}
						/>
					</div>

					<div class="flex items-center space-x-4">
						<label for="lati" class="w-1/4">Latitudine</label>
						<input
							type="number"
							placeholder={$location.latitude}
							id="lati"
							required
							bind:value={lati}
							class="text-box"
							class:text-box-invalid={!validLat}
							on:blur={() => {
								validLat = checkInputNum(lati, 90, -90);
							}}
						/>
					</div>

					<div class="flex items-center space-x-4">
						<label for="long" class="w-1/4">Longitudine</label>
						<input
							type="number"
							placeholder={$location.longitude}
							id="long"
							required
							max="180"
							min="-180"
							bind:value={long}
							class="text-box"
							class:text-box-invalid={!validLong}
							on:blur={() => {
								validLong = checkInputNum(long, 180, -180);
							}}
						/>
					</div>
					<hr />
					<!-- footer -->
					<div class="grid justify-items-end p-0 pt-4">
						<div class="space-x-3">
							<button
								class="btn"
								on:click={() => {
									validName = checkInputString(nameLoc);
									validLat = checkInputNum(lati);
									validLong = checkInputNum(long);
									if (
										validLat === true &&
										validLong === true &&
										validName === true
									) {
										$location.nameLocation = nameLoc.trim();
										$location.latitude = lati;
										$location.longitude = long;
										validLat = true;
										validLong = true;
										validName = true;
										requestNotification(
											"Luogo Aggiornato!",
											`${$location.nameLocation} alle coordinate ${$location.latitude}, ${$location.longitude}`,
										);
										dispatch("modalClosed");
										dialog.close();
									}
								}}><h3>Conferma</h3></button
							>
							<button
								class="btn"
								on:click={() => {
									dialog.close();
									validLat = true;
									validLong = true;
									validName = true;
								}}><h3>Chiudi</h3></button
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</dialog>
</main>
