<script>
    import { onMount } from "svelte";
    import { newsUrl } from "../stores/newsStore";
    import { createEventDispatcher } from "svelte";
    import { requestNotification } from "../lib/index.js";

    // dispatch event for updating the feed
    const dispatch = createEventDispatcher();

    export let showModal;
    let title, url, validTitle, validUrl;
    let dialog;

    $: if (dialog && showModal) dialog.showModal();

    // set variables to default
    function clearVariables() {
        title = "";
        url = "";
        validTitle = true;
        validUrl = true;
    }

    // check value of input text
    function checkInputString(str) {
        if (!(typeof str == "string") || str.trim() == "") {
            return false;
        }
        return true;
    }

    // delete RSS Feed from store
    function deleteFeed(id) {
        $newsUrl = $newsUrl.filter((item) => item.id !== id);
        if ($newsUrl.length != 0) {
            for (let news = 0; news < $newsUrl.length; news++) {
                if ($newsUrl[news].id > id) {
                    $newsUrl[news].id -= 1;
                }
            }
        }
    }

    // add RSS Feed to store
    function addFeed(nameLink, link) {
        validTitle = checkInputString(title);
        validUrl = checkInputString(url);
        if (validTitle === true && validUrl === true) {
            $newsUrl = [
                ...$newsUrl,
                {
                    id: $newsUrl.length,
                    name: nameLink,
                    url: link,
                },
            ];
            validTitle = true;
            validUrl = true;
            requestNotification(`${nameLink} aggiunto!`, "");
            dialog.close();
            dispatch("modalClosed");
        }
    }

    onMount(async () => {
        clearVariables()
    });
    
</script>

<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
<dialog
    class="rounded-3xl shadow-xl"
    bind:this={dialog}
    on:close={() => {
        showModal = false;
        title = "";
        url = "";
    }}
    on:click|self={() => dialog.close()}
>
    <!-- svelte-ignore a11y-no-static-element-interactions -->
    <div on:click|stopPropagation>
        <div class="content-wrapper p-8">
            <!-- header -->
            <div class="pb-6">
                <h1>Add Rss Feed</h1>
            </div>
            <hr />
            <!-- content -->
            <div class="space-y-4">
                <div class="pb-4 pt-4 space-y-2">
                    <div class="flex items-center space-x-4">
                        <label for="title" class="w-1/4"><h4>Title</h4></label>
                        <input
                            type="text"
                            placeholder="Wired Italia"
                            id="title"
                            name="title"
                            bind:value={title}
                            required
                            class="text-box"
                            on:blur={() => {
                                validTitle = checkInputString(title);
                            }}
                            class:text-box-invalid={!validTitle}
                        />
                    </div>

                    <div class="flex items-center space-x-4">
                        <label for="url" class="w-1/4"><h4>Url</h4></label>
                        <input
                            type="text"
                            placeholder="https://www.wired.it/feed/rss"
                            id="url"
                            name="url"
                            required
                            bind:value={url}
                            class="text-box"
                            class:text-box-invalid={!validUrl}
                            on:blur={() => {
                                validUrl = checkInputString(url);
                            }}
                        />
                    </div>
                </div>
                <div class="grid justify-items-end p-0 pt-4">
                    <div class="space-x-3">
                        <button class="btn" on:click={addFeed(title, url)}
                            ><h3>Aggiungi</h3></button
                        >

                        <button
                            class="btn"
                            on:click={() => {
                                dialog.close();

                                dispatch("modalClosed");
                            }}><h3>Chiudi</h3></button
                        >
                    </div>
                </div>

                {#if $newsUrl.length > 0}
                    <div class="listUrl">
                        <div class="text-3xl font-bold pb-4">List of Feed</div>

                        <hr />
                        {#each $newsUrl as urlItem (urlItem.id)}
                            <div class="flex items-center py-2">
                                <div class="w-1/4 space-x-2">
                                    <h3 class="uppercase">{urlItem.name}</h3>
                                </div>

                                <div class="w-3/4"><h4>{urlItem.url}</h4></div>

                                <button
                                    class="btn btn-icon-small"
                                    on:click={deleteFeed(urlItem.id)}
                                    ><i class="fa-solid fa-minus"></i></button
                                >
                            </div>
                        {/each}
                    </div>
                {/if}
            </div>
        </div>
    </div>
</dialog>
