<script>
    import { onMount } from "svelte";
    import { newsUrl } from "../stores/newsStore";
    import ModalNews from "./ModalNews.svelte";
    import { requestNotification } from "../lib/index.js";

    let currentUrl, currentArticle, currentSiteTitle;
    let currentArticlesIndex = 0;

    let showModal = false;

    export let articles = [];

    // update the RSS feeds
    export async function updateNews(urlList, articlesList) {
        // find article list for all the feed
        for (let i = 0; i < urlList.length; i++) {
            const response = await fetchFeed(
                urlList[i].url.toString(),
                urlList[i].name,
                articlesList,
            );
        }

        // sort the list of feeds
        sortNews(articlesList);
        return articlesList;
    }

    // sort by date
    function sortDate(a, b) {
        const dataA = new Date(a.articleDate);
        const dataB = new Date(b.articleDate);

        if (dataA < dataB) {
            return 1;
        }
        if (dataA > dataB) {
            return -1;
        }
        return 0;
    }

    // sort based on the most recent data property
    export function sortNews(articles) {
        articles.sort(sortDate);
    }

    // fetch feeds RSS
    export async function fetchFeed(url, title, articles) {
        try {
            const response = await fetch(
                `http://cors-anywhere.herokuapp.com/${url}`,
                {
                    method: "GET",
                },
            );
            const text = await response.text();
            const parser = new DOMParser();
            const xml = parser.parseFromString(text, "application/xml");
            const items = xml.querySelectorAll("item");
            items.forEach((item) => {
                const articleName = item.querySelector("title").textContent;
                const articleUrl = item.querySelector("link").textContent;
                const articleDate = item.querySelector("pubDate").textContent;
                articles.push({ title, articleName, articleUrl, articleDate });
            });

            return articles;
        } catch (error) {
            requestNotification(
                `Errore nel fetch del Feed`,
                "Feed non esistente",
            );
            console.error("Feed RSS non esistente:", error);
        }
    }

    // show next article
    function nextTitle() {
        currentArticlesIndex = (currentArticlesIndex + 1) % articles.length;
        currentUrl = articles[currentArticlesIndex].articleUrl;
        currentArticle = articles[currentArticlesIndex].articleName;
        currentSiteTitle = articles[currentArticlesIndex].title;
    }

    // show previus articles
    function prevTitle() {
        if (currentArticlesIndex == 0)
            currentArticlesIndex = articles.length - 1;
        else {
            currentArticlesIndex = (currentArticlesIndex - 1) % articles.length;
        }

        currentUrl = articles[currentArticlesIndex].articleUrl;
        currentArticle = articles[currentArticlesIndex].articleName;
        currentSiteTitle = articles[currentArticlesIndex].title;
    }

    onMount(async () => {
        if ($newsUrl.length != 0) {
            try {
                // update the articles list
                await updateNews($newsUrl, articles);

                // save the first article
                currentUrl = articles[0].articleUrl;
                currentArticle = articles[0].articleName;
                currentSiteTitle = articles[0].title;

                // update the current news shown after 10000
                const intervalTitle = setInterval(nextTitle, 10000);

                // update the feeds after 600000 ms
                const intervalUpdate = setInterval(async () => {
                    await updateNews($newsUrl, articles);
                }, 600000);

                return () => {
                    clearInterval(intervalTitle);
                    clearInterval(intervalUpdate);
                };
            } catch (error) {
                console.error("Error fetching RSS Feed:", error);
            }
        }
    });
</script>

<main class="flex flex-col justify-between place-content-between w-full h-full">
    {#if articles.length > 0}
        <div class="flex place-content-between items-center w-full h-full">
            <div>
                <h1>{currentSiteTitle}</h1>
            </div>

            <button class="btn btn-icon" on:click={() => (showModal = true)}>
                <i class="fa-solid fa-pen"></i>
            </button>
            <ModalNews
                bind:showModal
                on:modalClosed={updateNews($newsUrl, articles)}
            ></ModalNews>
        </div>
    {:else}
        <div class="flex place-content-end items-center w-full h-full">
            <button class="btn btn-icon" on:click={() => (showModal = true)}>
                <i class="fa-solid fa-pen"></i>
            </button>
            <ModalNews
                bind:showModal
                on:modalClosed={updateNews($newsUrl, articles)}
            ></ModalNews>
        </div>
    {/if}

    <div
        class="flex place-content-between items-center space-x-4 py-8 w-full h-full"
    >
        <div class="pb-4">
            <button class="btn btn-icon-small" on:click={prevTitle}>
                <i class="fa-solid fa-chevron-left"></i>
            </button>
        </div>

        <div>
            {#if articles.length > 0}
                <div class="space-y-4 text-center">
                    <div>
                        <a href={currentUrl} target="_blank">{currentArticle}</a
                        >
                    </div>
                </div>
            {:else}
                <div>
                    <h1>Nessun feed trovato.</h1>
                </div>
                <div>
                    <h2>
                        Aggiungi un feed con il tasto <i class="fa-solid fa-pen"
                        ></i>
                    </h2>
                </div>
            {/if}
        </div>

        <div>
            <button class="btn btn-icon-small" on:click={nextTitle}>
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>
    </div>
</main>
