<script>
    import { onMount } from "svelte";
    import { dailyEvents } from "../stores/storeCalendar";
    import { createEventDispatcher } from "svelte";
    import { requestNotification } from "../lib/index.js";

    // dispatch event for changing style to date with events on it.
    const dispatch = createEventDispatcher();

    export let dateID;

    // date of current event
    export let dateOfEvent = dateID.replace(/_/g, " ");

    let eventName, time;

    let validName = true;
    let validTime = true;

    // list of event for dateOfEvent
    let eventList = [];

    // if true show modal
    export let showScheduler;

    let dialog;

    $: if (dialog && showScheduler) dialog.showModal();

    // function for delete event from eventList and store
    function deleteEvent(id) {
        // if there is only one item
        if (!Array.isArray(eventList) || eventList.length == 1) {
            eventList = [];
            $dailyEvents = $dailyEvents.filter(function (value, index, arr) {
                if (arr[index].day !== dateOfEvent) return true;
            });
            dispatch("modalClosed");
            return;
        } else {
            // delete from eventList
            eventList = eventList.filter((item) => item.id !== id);
            if (eventList.length != 0) {
                for (let event = 0; event < eventList.length; event++) {
                    if (eventList[event].id > id) {
                        eventList[event].id -= 1;
                    }
                }
            }

            // delete from store
            for (let date in $dailyEvents) {
                if ($dailyEvents[date].day == dateOfEvent) {
                    $dailyEvents[date].events = eventList;
                    dispatch("modalClosed");
                    return;
                }
            }
        }
    }

    // restore variables to default
    function clearVariables() {
        eventName = "";
        time = "";
        validName = true;
        validTime = true;
    }

	// check value of input text
    function checkInputString(str) {
        if (!(typeof str == "string") || str.trim() == "") {
            return false;
        }
        return true;
    }

    // add event to store and eventList
    function addEvent() {
        validName = checkInputString(eventName);
        validTime = checkInputString(time);
        if (validName === true && validTime === true) {
            // current event
            let newEvent = {
                id: Math.floor(Math.random() * 1000000),
                name: eventName,
                time: time,
            };

            // event with date
            let schedule = {
                day: dateOfEvent,
                events: newEvent,
            };
            for (let date in $dailyEvents) {
                // if there are already other event fot this dateOfEvent
                if ($dailyEvents[date].day == dateOfEvent) {
                    // if there is only one event
                    if (!Array.isArray($dailyEvents[date].events))
                        $dailyEvents[date].events = [
                            $dailyEvents[date].events,
                            newEvent,
                        ];
                    else
                        $dailyEvents[date].events = [
                            ...$dailyEvents[date].events,
                            newEvent,
                        ];
                    // add to eventList
                    eventList = [...eventList, newEvent];
                    clearVariables();
                    requestNotification(
                        "Evento Aggiunto!",
                        `${eventName} per le ore ${time}`,
                    );
                    dispatch("modalClosed");
                    return;
                }
            }

            // if there is no dateOfEvent in store
            eventList = [...eventList, newEvent];
            $dailyEvents = [...$dailyEvents, schedule];
            clearVariables();
            requestNotification(
                "Evento Aggiunto!",
                `${eventName} per le ore ${time}`,
            );

            dispatch("modalClosed");
            return;
        }
    }

    onMount(async () => {
        clearVariables();
        // copy event from store to eventList
        for (let date in $dailyEvents) {
            if ($dailyEvents[date].day == dateOfEvent) {
                eventList = $dailyEvents[date].events;
            }
        }
    });

</script>

<main>
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
    <dialog
        class="rounded-3xl shadow-xl"
        bind:this={dialog}
        on:close={() => {
            showScheduler = false;
            clearVariables();
        }}
        on:click|self={() => dialog.close()}
    >
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div on:click|stopPropagation>
            <div class="content-wrapper p-8">
                <!-- header -->
                <div class="pb-6 space-y-4">
                    <h1>Nuovo evento</h1>
                    <h2>{dateOfEvent}</h2>
                </div>
                <hr />
                <!-- content -->
                <div class="space-y-4">
                    <div class="addFeed pb-4">
                        <div class="flex items-center space-x-4 py-4">
                            <label for="nome" class="w-1/4">Titolo</label>
                            <input
                                type="text"
                                placeholder="Primo giorno di ferie!"
                                id="eventName"
                                bind:value={eventName}
                                class="text-box"
                                required
                                on:blur={() => {
                                    validName = checkInputString(eventName);
                                }}
                                class:text-box-invalid={!validName}
                            />
                        </div>

                        <div class="flex items-center space-x-4">
                            <label for="time" class="w-1/4">Orario</label>
                            <input
                                type="time"
                                id="time"
                                bind:value={time}
                                class="text-box"
                                required
                                on:blur={() => {
                                    validTime = checkInputString(time);
                                }}
                                class:text-box-invalid={!validTime}
                            />
                        </div>
                    </div>

                    <div class="listUrl">
                        <div class="text-3xl font-bold pb-4">
                            Eventi del giorno
                        </div>

                        <hr />
                        {#if eventList.length == 0}
                            <div class="flex items-center py-2">
                                <h3>Nessun Evento</h3>
                            </div>
                        {:else if !Array.isArray(eventList)}
                            <div class="flex items-center py-2">
                                <div class="w-1/4 space-x-2">
                                    <h2>{eventList.name}</h2>
                                </div>

                                <div class="w-3/4">
                                    <h3>{eventList.time}</h3>
                                </div>

                                <button
                                    class="btn btn-icon-small"
                                    on:click={deleteEvent(eventList.id)}
                                    ><i class="fa-solid fa-minus"></i></button
                                >
                            </div>
                        {:else}
                            {#each eventList as event (event.id)}
                                <div class="flex items-center py-2">
                                    <div class="w-1/4 space-x-2">
                                        <h2>{event.name}</h2>
                                    </div>

                                    <div class="w-3/4">
                                        <h3>{event.time}</h3>
                                    </div>

                                    <button
                                        class="btn btn-icon-small"
                                        on:click={deleteEvent(event.id)}
                                        ><i class="fa-solid fa-minus"
                                        ></i></button
                                    >
                                </div>
                            {/each}
                        {/if}
                    </div>
                </div>

                <!-- footer -->
                <div class="footer grid justify-items-end p-0 pt-4">
                    <div class="space-x-3">
                        <button class="btn" on:click={addEvent}
                            ><h3>Aggiungi</h3></button
                        >
                        <!-- svelte-ignore a11y-autofocus -->
                        <button
                            class="btn"
                            on:click={() => {
                                dialog.close();
                                clearVariables();
                            }}><h3>Chiudi</h3></button
                        >
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</main>
