<script>
    import { userStore } from "../stores/loginStore";
    import { onMount } from "svelte";
    import { requestNotification } from "../lib/index.js";

    let email;
    let pwd;
    let repeatPwd;
    let validEmail;
    let validPwd;
    let validRptPwd;

    // check value of input text
    function checkInputString(str) {
        if (!(typeof str == "string") || str.trim() == "") {
            return false;
        }
        return true;
    }

    // set variables to default
    function clearVariables() {
        email = "";
        pwd = "";
        repeatPwd = "";
        validEmail = true;
        validPwd = true;
        validRptPwd = true;
    }

    // register a new user
    function registerUser(emailUser, pwdUser, repeatPwdUser) {
        validEmail = checkInputString(emailUser);
        validPwd = checkInputString(pwdUser);
        validRptPwd = checkInputString(repeatPwdUser);
        if (validEmail === true && validPwd === true && validRptPwd === true) {
            if (pwd == repeatPwd) {
                if (pwd.length < 8) {
                    requestNotification(
                        "Registrazione fallita",
                        "La password deve essere lunga almeno 8 caratteri",
                    );
                    return;
                }
                userStore.signUpEmail(email, pwd);
                clearVariables();
                requestNotification(`Utente ${email} registrato!`, "");
                return;
            } else {
                requestNotification(
                    "Registrazione fallita",
                    "Le password non coincidono!",
                );
            }
        }
    }

    onMount(async () => {
        clearVariables();
    });
</script>

<main>
    <div class="flex place-content-center place-items-center">
        <div class="card w-1/2">
            <!-- header -->
            <h1 class="pb-8">Crea un account</h1>
            <!-- content -->
            <div class="space-y-4 flex flex-col pb-4">
                <div>
                    <label for="email"></label>
                    <input
                        bind:value={email}
                        id="email"
                        type="email"
                        name="email"
                        placeholder="email@example.com"
                        class="text-box-full"
                        on:blur={() => {
                            validEmail = checkInputString(email);
                        }}
                        class:text-box-invalid={!validEmail}
                    />
                </div>
                <div>
                    <label for="pwd"></label>
                    <input
                        id="pwd"
                        bind:value={pwd}
                        type="password"
                        name="pwd"
                        placeholder="Password"
                        class="text-box-full"
                        on:blur={() => {
                            validPwd = checkInputString(pwd);
                        }}
                        class:text-box-invalid={!validPwd}
                    />
                </div>
                <div>
                    <label for="repeatPwd"></label
                    >
                    <input
                        id="repeatPwd"
                        bind:value={repeatPwd}
                        name="repeatPwd"
                        type="password"
                        placeholder="Repeat password"
                        class="text-box-full"
                        on:blur={() => {
                            validRptPwd = checkInputString(repeatPwd);
                        }}
                        class:text-box-invalid={!validRptPwd}
                    />
                </div>
            </div>
            <!-- footer -->
            <div class="flex place-content-end">
                <button
                class="btn"
                    on:click={() => {
                        registerUser(email, pwd, repeatPwd);
                    }}>Registrati</button
                >
            </div>
        </div>
    </div>
</main>
