<script>
    // state of the stopwatch
    const State = Object.freeze({
        NEW: "NEW",
        RUNNING: "RUNNING",
        PAUSED: "PAUSED",
    });

    // initial state
    let state = State.NEW;

    let startTime = 0;
    let elapsedTime = 0;
    let oldElapsedTime = 0;
    let interval;
    let partialsList = [];
    let contatore = 1;

    // second and millisecond format
    const dec2 = (number) => `00${number}`.slice(-2);
    const dec3 = (number) => `000${number}`.slice(-3);

    $: msecs = dec3(elapsedTime % 1000);
    $: secs = dec2(Math.floor(elapsedTime / 1000) % 60);
    $: mins = dec2(Math.floor(elapsedTime / 1000 / 60) % 60);
    $: hours = dec2(Math.floor(elapsedTime / 1000 / 60 / 60) % 60);

    // elapsed time
    $: elapsedTimeFormatted = `${hours}:${mins}:${secs}.${msecs}`;

    // start stopwatch
    const startFunction = () => {
        startTime = Date.now();
        state = State.RUNNING;
        interval = setInterval(() => {
            if (state === State.RUNNING) {
                const endtime = Date.now();
                elapsedTime = endtime - startTime + oldElapsedTime;
            }
        });
    };

    // reset stopwatch to initial state
    const resetFunction = () => {
        elapsedTime = 0;
        state = State.NEW;
        clearInterval(interval);
        partialsList = [];
        contatore = 1;
    };

    // pause the elapsed time
    const pauseFunction = () => {
        state = State.PAUSED;
        oldElapsedTime = elapsedTime;
    };

    // resume the elapsed time
    const resumeFunction = () => {
        startTime = Date.now();
        state = State.RUNNING;
    };
</script>

<main>
    <div class="space-y-4">
        <div class="flex items-baseline place-content-center">
            <div class="text-7xl font-bold">{elapsedTimeFormatted}</div>
            <h2>sec</h2>
        </div>
        <div class="flex items-baseline space-x-2 place-content-center">
            {#if state === State.NEW}
                <div>
                    <button on:click={startFunction} class="btn btn-icon-small"
                        ><i class="fa-solid fa-play"></i></button
                    >
                </div>
            {/if}

            {#if state === State.PAUSED}
                <button on:click={resumeFunction} class="btn btn-icon-small"
                    ><i class="fa-solid fa-play"></i></button
                >
            {/if}
            {#if state === State.RUNNING}
                <button on:click={pauseFunction} class="btn btn-icon-small"
                    ><i class="fa-solid fa-pause"></i></button
                >
            {/if}
            {#if state === State.RUNNING || state === State.PAUSED}
                <button on:click={resetFunction} class="btn btn-icon-small"
                    ><i class="fa-solid fa-arrow-rotate-left"></i></button
                >
            {/if}
        </div>
    </div>
</main>
