<script>
    import { onMount } from "svelte";
    import Stopwatch from "./Stopwatch.svelte";
    import Clock from "./Clock.svelte";

    let showClock;
    let showStopwatch;

    $: showClock = false;
    $: showStopwatch = false;

    // show the clock
    function runClock() {
        showClock = true;
        showStopwatch = false;
    }

    // show the stopwatch
    function runStopWatch() {
        showClock = false;
        showStopwatch = true;
    }

    onMount(() => {
        showClock = true;
    });
</script>

<main class=" w-full h-full">
    {#if showClock == true}
        <div class="flex flex-col justify-between place-content-between w-full h-full">
            <div class="flex items-center place-content-center space-x-4">
                <button on:click={runClock} class="btn btn-icon"
                    ><i class="fa-solid fa-clock"></i></button
                >
                <button on:click={runStopWatch} class="btn btn-icon-small"
                    ><i class="fa-solid fa-stopwatch"></i></button
                >
            </div>
            <div class="flex place-content-center items-center space-x-4 py-8 w-full h-full">
                <Clock />
            </div>
        </div>
    {/if}

    {#if showStopwatch == true}
        <div class="flex flex-col justify-between place-content-between w-full h-full">
            <div class="flex items-center place-content-center space-x-4">
                <button on:click={runClock} class="btn btn-icon-small"
                    ><i class="fa-solid fa-clock"></i></button
                >
                <button on:click={runStopWatch} class="btn btn-icon"
                    ><i class="fa-solid fa-stopwatch"></i></button
                >
            </div>
            <div class="flex place-content-center items-center space-x-4 py-8 w-full h-full">
                <Stopwatch />
            </div>
        </div>
    {/if}
</main>
