<script>
    import { onMount } from "svelte";
    import { location } from "../stores/weatherStore";
    import Modal from "./ModalWeather.svelte";


    let lat,
        long,
        current_temp,
        current_app_temp,
        current_precipitation,
        sunrise,
        current_hum,
        sunset;
    let current_weather_code, temp_units, today_date, locationName;

    let showModal = false;


    const days = [];

    // update current Forecast from OpenMeteo.com
    export async function updateWeather() {
        const response = await fetch(
            `https://api.open-meteo.com/v1/forecast?latitude=${$location.latitude}&longitude=${$location.longitude}&current=temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,weather_code&daily=weather_code,temperature_2m_max,temperature_2m_min,sunrise,sunset,precipitation_probability_max&timezone=auto&models=best_match`,
        );
        const data = await response.json();
        localStorage.setItem("weatherData", JSON.stringify(data));

        // Current Weather
        locationName = $location.nameLocation;
        lat = data.latitude;
        long = data.longitude;
        current_temp = data.current.temperature_2m;
        current_app_temp = data.current.apparent_temperature;
        current_precipitation = data.current.precipitation;
        current_weather_code = data.current.weather_code;
        temp_units = data.current_units.temperature_2m;

        today_date = new Date(data.current.time).toLocaleDateString("it-IT", {
            weekday: "long",
            month: "long",
            day: "numeric",
        });

        sunrise = new Date(data.daily.sunrise[0]).toLocaleTimeString("it-IT", {
            hour: "2-digit",
            minute: "2-digit",
        });

        sunset = new Date(data.daily.sunset[0]).toLocaleTimeString("it-IT", {
            hour: "2-digit",
            minute: "2-digit",
        });

        current_hum = data.current.relative_humidity_2m;

    }

    onMount(async () => {
        try {
            await updateWeather();

            // update forecast data after 300000 ms
            const interval = setInterval(async () => {
                await updateWeather();
            }, 300000);

            return () => clearInterval(interval);
        } catch (error) {
            console.error("Error fetching data:", error);
        }
    });
    
</script>

<main class="flex flex-col justify-between place-content-between w-full h-full">
    <div class="flex place-content-between place-items-center w-full">
        <div class="flex space-x-2">
            <span><h2><i class="fa-solid fa-location-dot"></i></h2></span>
            <span><h2>{locationName}</h2></span>
        </div>
        <div>
            <button class="btn btn-icon" on:click={() => (showModal = true)}>
                <i class="fa-solid fa-pen"></i>
            </button>
            <Modal bind:showModal on:modalClosed={updateWeather}></Modal>
        </div>
    </div>

    <div class=" flex w-full py-8">
        <div class="w-2/3">
            <div>
                <h1 class="flex place-content-center text-9xl">
                    {#if current_weather_code == 0}
                        <i class="fa-solid fa-sun"></i>
                    {:else if current_weather_code == 1 || current_weather_code == 2 || current_weather_code == 3}
                        <i class="fa-solid fa-cloud-sun"></i>
                    {:else if current_weather_code == 45 || current_weather_code == 48}
                        <i class="fa-solid fa-cloud"></i>
                    {:else if current_weather_code == 61 || current_weather_code == 63 || current_weather_code == 65 || current_weather_code == 66 || current_weather_code == 67 || current_weather_code == 80 || current_weather_code == 81 || current_weather_code == 82 || current_weather_code == 51 || current_weather_code == 56 || current_weather_code == 57 || current_weather_code == 53 || current_weather_code == 55}
                        <i class="fa-solid fa-cloud-showers-heavy"></i>
                    {:else if current_weather_code == 71 || current_weather_code == 73 || current_weather_code == 75 || current_weather_code == 77 || current_weather_code == 85 || current_weather_code == 86}
                        <i class="fa-solid fa-snowflake"></i>
                    {:else if current_weather_code == 95 || current_weather_code == 96 || current_weather_code == 99}
                        <i class="fa-solid fa-cloud-bolt"></i>
                    {:else}
                        <i class="fa-solid fa-question"></i>
                    {/if}
                </h1>
            </div>

            <div>
                <h3 class="flex place-content-center pt-2">{today_date}</h3>
            </div>

            <div class="flex pb-4 place-content-center space-x-4">
                <div class="text-9xl font-bold">{current_temp}°</div>
            </div>
        </div>

        <div class="w-1/3">
            <div class="flex space-x-3">
                <div class=" flex w-1/2 place-content-start">
                    <h2>Percepita</h2>
                </div>
                <div class="flex w-1/2 place-items-start">
                    <div><h3>{current_app_temp}{temp_units}</h3></div>
                </div>
            </div>

            <div class="flex space-x-3">
                <div class=" flex w-1/2 place-content-start">
                    <h3>
                        <i class="fa-solid fa-droplet"></i>
                    </h3>
                </div>
                <div class="flex w-1/2 place-items-start">
                    <div><h3>{current_hum}%</h3></div>
                </div>
            </div>

            <div class="flex space-x-3">
                <div class=" flex w-1/2 place-content-start">
                    <h3>
                        <i class="fa-solid fa-cloud-showers-heavy"></i>
                    </h3>
                </div>
                <div class="flex w-1/2 place-items-start">
                    <h3>{current_precipitation}%</h3>
                </div>
            </div>

            <div class="flex space-x-3">
                <div class=" flex w-1/2 place-content-start">
                    <h2 class="text-left">Alba</h2>
                </div>
                <div class="flex w-1/2 place-items-start">
                    <h3 class="text-right">{sunrise}</h3>
                </div>
            </div>
            <div class="flex space-x-3">
                <div class=" flex w-1/2 place-content-start">
                    <h2 class="text-left">Tramonto</h2>
                </div>
                <div class="flex w-1/2 place-items-start">
                    <h3 class="text-right">{sunset}</h3>
                </div>
            </div>
        </div>
    </div>
</main>
