/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    @apply text-6xl font-bold capitalize;
}

h2 {
    @apply text-xl uppercase font-semibold;
}

h3 {
    @apply text-lg font-normal capitalize;
}

h4 {
    @apply text-base font-normal capitalize;
}

.btn {
    @apply bg-blue-600 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-full;
}

.btn-icon {
    @apply flex items-center w-10 h-10 justify-center p-7 rounded-full;
}

.btn-icon-small {
    @apply flex items-center w-4 h-4 justify-center p-4 rounded-full;
}

.btn-icon-text {
    @apply bg-blue-300 hover:bg-gray-400 font-bold py-2 px-4 rounded inline-flex items-center;
}

.btn-full-text {
    @apply bg-blue-600 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-md w-full;
}

.card {
    @apply p-8 bg-white max-h-full max-w-full rounded-3xl shadow-xl border-2 border-gray-100 border-opacity-50 ;
}

.card:hover {
    @apply shadow-blue-200 shadow-2xl;
}

.text-box {
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-black block w-3/4 p-2;
}

.text-box-invalid {
    @apply bg-red-50 border border-red-500;
}

.text-box-full {
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-black block p-2 w-full;
}

.card-small {
    @apply col-span-1 row-span-1;
}

.card-medium {
    @apply col-span-2 row-span-2;
}

.card-large {
    @apply col-span-3 row-span-3;
}

.card-tall {
    @apply col-span-2 row-span-3;
}

.card-wide {
    @apply col-span-3 row-span-2;
}
